<div class="blogs">
    <ul class="blog-list">
        <% blogs.forEach(function(blog){ %>
            <a class="content" href="/blog/<%= blog._id %>">     
                <li class="blog-item">   
                        <h1> <%= blog.title %> </h1>
                        <h3><%= blog.snippert %></h3>
                        <img class="img-fluid" src="/uploads/<%= blog.image.data %>" alt="">           
                        <p><%= blog.content %></p> 
                </li>
            </a>
        <% }) %>
    </ul>
</div>
