<%- include ("partials/head")%>
<body>
    <%- include ("partials/navigation") %>
    <%- include("partials/banner") %>

    <%- include("partials/blogList") %>
    <%- include("partials/footer") %>
</body>
</html>