
<%- include ("partials/head")%>
<body>
    <%- include ("partials/navigation") %>
    <%- include("partials/banner") %>

    <div class="details">
        <div class="details-inner">
            <h2><%= blog.title %></h2>
            <div class="cont">
                <p><%= blog.content %></p>
            </div>
        </div>

    </div>

    <%- include("partials/footer") %>
    <script src="/assets/index.js"></script>
</body>
</html>