<%- include ("partials/head")%>
<body>
    <%- include ("partials/navigation") %>
    <%- include("partials/banner") %>

    <div class="details">
        <div class="details-inner">
            <h2><%= blog.title %></h2>
            <div class="cont">
                <p><%= blog.content %></p>
            </div>
            <button class="delete" data-doc="<%= blog._id %>">delete</button>
        </div>

    </div>

    <%- include("partials/footer") %>
    <script>
        const trashcan = document.querySelector('button.delete'); 
        trashcan.addEventListener('click', (e)=>{
            const endpoint = `/blog/${trashcan.dataset.doc}`
            fetch(endpoint, {
                method:'DELETE'
            }).then((response)=>{ response.json })
            .then((data)=>{ window.location.href = data.redirect })
            .catch(err => console.log(err))
        })
    </script>
</body>
</html>